<div class="vstack list">
  <ng-container *ngIf="$todaysTasks | async">
    <span class="fw-light day">Today</span>
    <ng-container [ngTemplateOutlet]="table" [ngTemplateOutletContext]="{todos: $todaysTasks | async}"></ng-container>
  </ng-container>
  <ng-container *ngIf="$tomorrowsTasks | async">
    <span class="fw-light day">Tomorrow</span>
    <ng-container [ngTemplateOutlet]="table"
      [ngTemplateOutletContext]="{todos: $tomorrowsTasks | async}"></ng-container>
  </ng-container>


  <ng-container *ngIf="loadCount > 0">
    <ng-container *ngIf="($restOfTasks | async)">
      <span class="fw-light day">{{($restOfTasks | async)?.day}}</span>
      <ng-container [ngTemplateOutlet]="table"
        [ngTemplateOutletContext]="{todos: ($restOfTasks | async)?.todoList}"></ng-container>
    </ng-container>
  </ng-container>

  <div class="d-flex justify-content-center align-items-center mt-4">
    <div *ngIf="!loadMore" class="shadow-lg p-2 bg-body-tertiary rounded btn w-75" (click)="getMoreTasks()">Load More
    </div>
    <div *ngIf="loadMore" class="shadow-lg p-2 bg-body-tertiary rounded btn w-75" (click)="loadMore = false">Reduce
    </div>
  </div>
</div>

<ng-template #table let-todos="todos">
  <table>
    <ng-container *ngFor="let todo of todos">
      <ng-container *ngIf="!todo.isCompleted">
        <ng-container [ngTemplateOutlet]="tr" [ngTemplateOutletContext]="{todo}"></ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let todo of todos">
      <ng-container *ngIf="todo.isCompleted">
        <ng-container [ngTemplateOutlet]="tr" [ngTemplateOutletContext]="{todo}"></ng-container>
      </ng-container>
    </ng-container>
  </table>
</ng-template>

<ng-template #tr let-todo="todo">
  <tr @fadeInOut>
    <td>
      <input class="form-check-input" type="checkbox" id="flexCheckDefault" [(ngModel)]="todo.isCompleted"
        (click)="check(todo)" />
    </td>
    <td class="title pe-1 text-wrap">
      <span class="todo-list-item text-wrap"
        [class]="todo.isCompleted? 'text-decoration-line-through':null">{{todo.title}} at <span
          class="fw-bold text-wrap">{{todo.time | time}}</span></span>
    </td>
    <td>
      <span class="badge rounded-pill d-flex justify-content-center text-capitalize"
        [ngClass]="getBadgeClass(todo.priority)">{{todo.priority}}</span>
    </td>
    <td>
      <div class="d-flex">
        <span><img class="btn" src="../../assets/svg/icon-edit.svg" alt="edit" (click)="edit(todo)"></span>
        <span><img class="btn" src="../../assets/svg/icon-delete.svg" alt="delete" (click)="delete(todo)"></span>
      </div>
    </td>
  </tr>
</ng-template>