<div class="vstack gap-3 list">
  <div class="">
    <span class="fw-light day">Today</span>
    <br>
    <div class="hstack">
      <input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault">
      <span class="p-2 ms-3 todo-list-item">Meeting with Charles at 4 : 30 p.m</span>
      <span class="badge text-bg-danger rounded-pill w-25  d-flex align-items-center justify-content-center">Important</span>
      <span class="d-flex align-items-center pe-2"><img src="../../assets/svg/icon-edit.svg" alt=""></span>
      <span class="d-flex align-items-center"><img src="../../assets/svg/icon-delete.svg" alt=""></span>
    </div>
  </div>
  <div>tomorrow</div>
</div>
<!-- todo: use template ref -->
