.btn{
  border-radius: 1rem;
}

select{
  cursor: pointer;
}

option{
  :hover{
    cursor: pointer;
  }

  ::after{
    cursor: pointer;
  }
}

i{
  cursor: pointer;
}

.completed{
  width: 7rem;
  height: auto;
  margin-right: 4rem;
}
