<modal>
  <h5 header>
    <ng-container *ngIf="todo">Edit</ng-container>
    <ng-container *ngIf="!todo">Add</ng-container>
  </h5>
  <div body class="container">
    <form class="row g-3 mb-3 d-flex justify-content-center align-items-center" [formGroup]="todoForm">
      <div class="row g-3 align-items-center w-100">
        <div class="col-auto ms-4">
          <label for="title" class="col-form-label fs-5">Title</label>
        </div>
        <div class="col-auto col-10">
          <input type="text" id="title" class="form-control form-control-lg" aria-labelledby="passwordHelpInline"
            formControlName="title" />
        </div>
      </div>

      <div class="hstack gap-3 w-75">
        <div class="p-2">
          <label for="date" class="col-form-label fs-5">Date</label>
        </div>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" id="date" ngbDatepicker #d="ngbDatepicker"
            formControlName="date" />
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
        </div>
        <div class="p-2">
          <label for="date" class="col-form-label fs-5">Time</label>
        </div>
        <div class="p-2">
          <ngb-timepicker [(ngModel)]="time" formControlName="time" [size]="'small'" [meridian]='true'></ngb-timepicker>
        </div>
      </div>

      <div class="row ms-5 pt-2">
        <form [formGroup]="attendantForm" class="hstack col">
          <label for="title" class="col-form-label fs-5 me-2">With</label>
          <div class="input-group">
            <input type="text" class="form-control p-2" formControlName="firstName" placeholder="First Name" aria-label="First Name"
              aria-describedby="exit">
            <input type="text" class="form-control p-2" formControlName="lastName" placeholder="Last Name" aria-label="Last Name"
              aria-describedby="exit">
            <button class="btn btn-outline-secondary bi bi-person-add" type="submit" (click)="addAttendant()">
            </button>
          </div>
        </form>

        <div class="row mt-1 col">
          <div class="col-auto col-form-label fs-5">
            <label for="priority-select">Priority</label>
          </div>
          <div class="col-auto col-7">
            <select class="form-select form-select-lg w-100" id="priority-select" aria-label="Default select example"
              formControlName="priority">
              <option class="text-success">Chill</option>
              <option value="important" class="text-danger">Important</option>
              <option value="relax" class="text-primary">Relax</option>
              <option value="interesting" class="text-warning">Interesting</option>
            </select>
          </div>
        </div>
      </div>

      <div class="ms-5 pt-2">
        <div class="ms-4 me-4">
          <span class="badge text-bg-info me-2 mt-2 fs-6 font-monospace" *ngFor="let attendant of attendance">
            <i class="bi bi-person-fill"></i> <span class="ms-1 me-2">{{attendant.firstName}}
              {{attendant.lastName}}</span>
            <i class="bi bi-x-octagon text-danger me-1" (click)="deleteAttendant(attendant.id)"></i>
          </span>
        </div>
      </div>

      <div class="ms-5 d-flex align-items-center justify-content-between">
        <!-- TODO: disabled not working -->
        <!-- <button class="btn btn-outline-secondary m-3" [disabled]="todo!.isSentToCalendar? todo!.isSentToCalendar:false" (click)="todo!.isSentToCalendar = !todo!.isSentToCalendar" formControlName="isSentToCalendar">
          Add<span *ngIf="todo?.isSentToCalendar">ed</span> to Calendar <i *ngIf="todo?.isSentToCalendar" class="bi bi-check-circle-fill text-success"></i>
        </button> -->
        <ng-container *ngIf="todo?.isCompleted == true">
          <img src="../../../../assets/img/completed.png" class="completed" alt="completed">
        </ng-container>
      </div>
    </form>
  </div>
  <button type="submit" class="btn btn-primary" positive-action (click)="submit()">Submit</button>
  <button type="submit" class="btn btn-danger float-end" positive-action>Cancel</button>
</modal>
