.btn{
  border-radius: 0;
  background-color: #FF7D7D;
  font-size: xx-large;
  border-left: 4px solid black;
}

.form{
  width: 90%;
}

.todo-input{
  background-color: #D9D9D9;
  font-size: large;
}


